<!-- start custom footer snippets -->
<!-- <center>
  <a href="https://www.google.com/maps/place/China/"><img src="https://zlwu92.github.io/images/google-maps-icon.png"></a>
  <a href="mailto:wu.zhenlin.1992@gmail.com"><img src="https://zlwu92.github.io/images/gmail-icon.png"></a>
  <a href="https://github.com/zlwu92"><img src="https://zlwu92.github.io/images/github-icon.png"></a>
  <a href="https://www.linkedin.com/in/zhenlin-wu-919788246/"><img src="https://zlwu92.github.io/images/linkedin-icon.png"></a>
  <a href="https://twitter.com/zhenlinwu7"><img src="https://zlwu92.github.io/images/twitter-icon.png"></a>
  <a href="https://www.facebook.com/profile.php?id=100080977253848"><img src="https://zlwu92.github.io/images/facebook-icon.png"></a>   
  <a href=""><img src="https://zlwu92.github.io/images/google-scholar-icon.png"></a>
  <a href="https://independent.academia.edu/zhenlinwu2"><img src="https://zlwu92.github.io/images/academia-edu.png"></a>
</center> -->
<center>🌏<a href="/sitemap/">Sitemap</a>
{% include base_path %}

<a href="https://zlwu92.github.io/">
  <button style='color:white; background-color:transparent; border-width:0px'><i class="fas fa-fw fa-sync fa-spin" aria-hidden="true"></i> <i class="fa fa-angle-double-right"></i><i class="fa fa-angle-double-right"></i> <i class="fas fa-home"></i>
  </button>
</a>
<a href="#">Top &#8593;</a>
<!-- <div class="theme-switch-wrapper">
  <label class="theme-switch" for="checkbox">
    <input type="checkbox" id="checkbox" />
    <div class="slider round"></div>
  </label> <em id="dark-mode-prompt">Light Mode On</em>
</div> -->
<!-- <div class="theme-switch-wrapper">
  <span id="toggle-icon">
    <span class="toggle-text">Light Mode</span>
    <i class="fas fa-sun"></i>
  <label class="theme-switch" color="gray">
    <input type="checkbox" />
    <div class="slider round"></div>
  </label>
  </span>
</div> -->
<!-- <button class="theme-toggle" id="theme-toggle" title="Toggles light & dark" aria-label="auto">
</button> -->
</center>
<!-- <img src="https://img.shields.io/badge/&#8459-Goto homepage-3875B7.svg?labelColor=21438A" height="40px" alt="homepage"> -->
<!-- <a href="https://github.com/zlwu92">
  <img src="https://img.shields.io/badge/dynamic/json?label=GitHub&query=%24.data.totalSubs&url=https%3A%2F%2Fapi.spencerwoo.com%2Fsubstats%2F%3Fsource%3Dgithub%26queryKey%3Dzlwu92&labelColor=grey&color=181717&logo=github&longCache=true&style=flat-square&suffix=%20Followers">
</a> -->
<!-- end custom footer snippets -->

